<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://xposterfunction.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/d9476cf6-8ab2-4ac3-99d5-0cdec032fe09/resourcegroups/rg-cbc-no/providers/Microsoft.Web/sites/XPosterFunction</ResourceId>
    <PublishUrl>https://xposterfunction.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>